.cartWr {
    padding-top: 16px;
    min-height: 75%;
    box-sizing: content-box;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.cartWr p, h2 {
    margin-bottom: 10px;
}
.tab_content {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    margin: 0px 15px;
}
.tab_wr {
    flex: 1;
}
.choose_all {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px rgba(147, 112, 216, 0.5);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    gap: 15px;
}

.choose_all input {
    margin: 15px;
}

.choose_all label {
    margin: 15px 0px;
}

.choose_all button {
    background-color: #ffffff00;
    color: black;
    font-size: 14px;
    font-weight: normal;
    box-shadow: none;
    margin: 15px 0px;
    padding: 0;
}

.choose_all button:hover {
    box-shadow: none;
}
.input_check {
    display: flex;
    flex-direction: row;
    margin-left: 2px;
}
.products_items{
}
.total_amount_wr {
    margin-bottom: 10px;
    max-width: 260px;
}
.total_amount {
    border: solid 1px rgba(147, 112, 216, 0.5);;
    border-radius: 5px;
    position: sticky;
    top: 120px;
    height: 440px;
    display: flex;
    vertical-align: top;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 15px;
    box-sizing: border-box;
}
.cart_empty {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1200px){
    .cartWr {
        max-width: 1180px;
    }
}