.main_page {
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
    padding: 10px;
    background: linear-gradient(rgb(255, 255, 255), rgb(237, 226, 226));
}

.main_page h3 {
    line-height: 1.5;
    font-size: 20px;
    padding: 15px;
    color: rgba(71, 61, 139, 0.8);
}

.link {
    color: mediumpurple;
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
}
a {
    text-decoration: none;
}
.link:hover {
    color: lightcoral;
}