.main_page {
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
    padding: 10px;
}

h3 {
    line-height: 1.5;
}


.link {
    color: mediumpurple;
    font-weight: 600;
    padding: 15px;
}
a {
    text-decoration: none;
}
.link:hover {
    color: lightcoral;
}