.wr {
    background-color: mediumpurple;
    color: white;
    font-weight: 600; 
}

.nav {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    overflow: hidden;
    width: 100%;
}
/* .headerLink:active {
    color: rgb(43, 226, 52);
} */
.nav {
    margin-top: 10px;
}

li a {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
    margin: 10px;
    list-style: none;
}

a:hover {
    color: rgb(255, 105, 105);
}


.headerLink {
    color: lightcoral;
}

.icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    fill: currentColor;
}

.right_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

.searchbutton {
    background-color: #fff;
    top: 0;
}

.wr_span{
    position: relative;
}