.wr_span{
    position: relative;
}
.wr_span span {
    display: flex;
    position: absolute;
    background-color: darkslateblue;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    font-size: 10px;
    z-index: 10;
    left: 20px;
    top: -3px;
    align-items: center;
    justify-content: center;
}
.icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    fill: currentColor;
}
.headerLink {
    color: lightcoral;
}