footer {
    margin-top: auto;
}
.footer_wr {
    background-color: rosybrown;
    color: white;
    padding: 15px;
    font-weight: 600;
}
nav {
    padding: 15px;
}

.ul_list {
    display: inline-flex;
    width: 1200px;
    list-style: none;
    gap: 10px;
    flex-direction: row;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
}

/* .ul_list li:nth-child(2) {
    margin-left: auto;
} */

.ul_list li:last-child {
    margin-right: 10px;
}

.ul_list li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ul_list a {
    text-decoration: none;
    padding: 5px;
}
a {
    color: white;
}
.ul_list a:hover {
    color: rgb(157, 108, 255);
}

.footerLink {
    color: darkslateblue;
}

.social {
    display: flex;
    flex-direction: row;
    margin: 0;
}
.social a {
    padding: 0;
}

.icon_social {
    width: 20px;
    height: 20px;
}