.wr {
    display: flex;
    flex-direction: column;
}

.wr_button a:hover {
    color: white;
} 

.wr_cards {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 15px;
    margin: 20px;
    justify-content: center;
}
h2 {
    padding: 15px;
    color: rgba(71, 61, 139, 0.8);
}
h3 {
    padding: 15px;
    color: dimgray;
    font-size: 14px;
}